In [16]:
import os
import pandas as pd
import numpy as np
from shutil import copyfile
import glob

In [9]:
pics_df = pd.read_csv('pics_df.csv', index_col=0, dtype='object')
pics_df.sort_values(by='name')

,name,pic,path_x1
0,Abel_Pacheco,0001,dataset/Abel_Pacheco/Abel_Pacheco_0001.jpg
1,Abel_Pacheco,0004,dataset/Abel_Pacheco/Abel_Pacheco_0004.jpg
2,Akhmed_Zakayev,0001,dataset/Akhmed_Zakayev/Akhmed_Zakayev_0001.jpg
3,Akhmed_Zakayev,0002,dataset/Akhmed_Zakayev/Akhmed_Zakayev_0002.jpg
4,Akhmed_Zakayev,0003,dataset/Akhmed_Zakayev/Akhmed_Zakayev_0003.jpg
5,Amber_Tamblyn,0001,dataset/Amber_Tamblyn/Amber_Tamblyn_0001.jpg
6,Amber_Tamblyn,0002,dataset/Amber_Tamblyn/Amber_Tamblyn_0002.jpg
7,Anders_Fogh_Rasmussen,0001,dataset/Anders_Fogh_Rasmussen/Anders_Fogh_Rasm...
8,Anders_Fogh_Rasmussen,0003,dataset/Anders_Fogh_Rasmussen/Anders_Fogh_Rasm...
9,Anders_Fogh_Rasmussen,0004,dataset/Anders_Fogh_Rasmussen/Anders_Fogh_Rasm...
13,Angela_Bassett,0004,dataset/Angela_Bassett/Angela_Bassett_0004.jpg
12,Angela_Bassett,0003,dataset/Angela_Bassett/Angela_Bassett_0003.jpg
14,Angela_Bassett,0005,dataset/Angela_Bassett/Angela_Bassett_0005.jpg
10,Angela_Bassett,0001,dataset/Angela_Bassett/Angela_Bassett_0001.jpg
11,Angela_Bassett,0002,dataset/Angela_Bassett/Angela_Bassett_0002.jpg
15,Ann_Veneman,0010,dataset/Ann_Veneman/Ann_Veneman_0010.jpg
16,Ann_Veneman,0011,dataset/Ann_Veneman/Ann_Veneman_0011.jpg
17,Ann_Veneman,0003,dataset/Ann_Veneman/Ann_Veneman_0003.jpg
18,Ann_Veneman,0005,dataset/Ann_Veneman/Ann_Veneman_0005.jpg
19,Ann_Veneman,0006,dataset/Ann_Veneman/Ann_Veneman_0006.jpg
20,Anthony_Fauci,0001,dataset/Anthony_Fauci/Anthony_Fauci_0001.jpg
21,Anthony_Fauci,0002,dataset/Anthony_Fauci/Anthony_Fauci_0002.jpg
22,Antony_Leung,0001,dataset/Antony_Leung/Antony_Leung_0001.jpg
23,Antony_Leung,0002,dataset/Antony_Leung/Antony_Leung_0002.jpg
24,Antony_Leung,0003,dataset/Antony_Leung/Antony_Leung_0003.jpg
25,Anwar_Ibrahim,0001,dataset/Anwar_Ibrahim/Anwar_Ibrahim_0001.jpg
26,Anwar_Ibrahim,0002,dataset/Anwar_Ibrahim/Anwar_Ibrahim_0002.jpg
27,Augusto_Pinochet,0001,dataset/Augusto_Pinochet/Augusto_Pinochet_0001...
28,Augusto_Pinochet,0002,dataset/Augusto_Pinochet/Augusto_Pinochet_0002...
30,Barbara_Brezigar,0002,dataset/Barbara_Brezigar/Barbara_Brezigar_0002...
...,...,...,...
466,Vaclav_Havel,0002,dataset/Vaclav_Havel/Vaclav_Havel_0002.jpg
467,Vaclav_Havel,0004,dataset/Vaclav_Havel/Vaclav_Havel_0004.jpg
472,Valerie_Harper,0001,dataset/Valerie_Harper/Valerie_Harper_0001.jpg
473,Valerie_Harper,0002,dataset/Valerie_Harper/Valerie_Harper_0002.jpg
474,Vince_Carter,0003,dataset/Vince_Carter/Vince_Carter_0003.jpg
475,Vince_Carter,0004,dataset/Vince_Carter/Vince_Carter_0004.jpg
476,Vincent_Brooks,0002,dataset/Vincent_Brooks/Vincent_Brooks_0002.jpg
477,Vincent_Brooks,0003,dataset/Vincent_Brooks/Vincent_Brooks_0003.jpg
478,Vincent_Brooks,0004,dataset/Vincent_Brooks/Vincent_Brooks_0004.jpg
479,Vincent_Brooks,0005,dataset/Vincent_Brooks/Vincent_Brooks_0005.jpg
480,Vincent_Brooks,0007,dataset/Vincent_Brooks/Vincent_Brooks_0007.jpg
481,Vincent_Gallo,0001,dataset/Vincent_Gallo/Vincent_Gallo_0001.jpg
482,Vincent_Gallo,0002,dataset/Vincent_Gallo/Vincent_Gallo_0002.jpg
486,Vitali_Klitschko,0004,dataset/Vitali_Klitschko/Vitali_Klitschko_0004...
485,Vitali_Klitschko,0003,dataset/Vitali_Klitschko/Vitali_Klitschko_0003...
484,Vitali_Klitschko,0002,dataset/Vitali_Klitschko/Vitali_Klitschko_0002...
483,Vitali_Klitschko,0001,dataset/Vitali_Klitschko/Vitali_Klitschko_0001...
487,William_Macy,0001,dataset/William_Macy/William_Macy_0001.jpg
488,William_Macy,0002,dataset/William_Macy/William_Macy_0002.jpg
489,William_Macy,0003,dataset/William_Macy/William_Macy_0003.jpg
490,William_Macy,0004,dataset/William_Macy/William_Macy_0004.jpg
491,Woody_Allen,0002,dataset/Woody_Allen/Woody_Allen_0002.jpg
492,Woody_Allen,0003,dataset/Woody_Allen/Woody_Allen_0003.jpg
493,Woody_Allen,0004,dataset/Woody_Allen/Woody_Allen_0004.jpg
494,Woody_Allen,0005,dataset/Woody_Allen/Woody_Allen_0005.jpg
495,Yukiko_Okudo,0001,dataset/Yukiko_Okudo/Yukiko_Okudo_0001.jpg
496,Yukiko_Okudo,0002,dataset/Yukiko_Okudo/Yukiko_Okudo_0002.jpg
498,Zico,0002,dataset/Zico/Zico_0002.jpg
497,Zico,0001,dataset/Zico/Zico_0001.jpg
499,Zico,0003,dataset/Zico/Zico_0003.jpg

In [ ]:
os.rename("path/to/current/file.foo", "path/to/new/destination/for/file.foo")

In [13]:
for old_path in pics_df['path_x1'].values:
    new_path = f'dataset_/{os.path.basename(old_path)}'
    copyfile(old_path, new_path)

In [15]:
os.listdir("dataset")[-10:]

['Zico',
 'Zinedine_Zidane',
 'Ziwang_Xu',
 'Zoe_Ball',
 'Zoran_Djindjic',
 'Zorica_Radovic',
 'Zulfiqar_Ahmed',
 'Zumrati_Juma',
 'Zurab_Tsereteli',
 'Zydrunas_Ilgauskas']

In [32]:
temp = glob.glob('dataset/*/*.jpg')

In [33]:
len(temp)

13233

In [55]:
for old_path in glob.glob('EDSR/output_x*/*.png'):
    new_path = old_path[:-10] + '_result.jpg'
    os.rename(old_path, new_path)